nextflow.enable.dsl = 2

params {
    threads     = 8
    outdir      = "jaffa_output"
    outputName  = "jaffa_results"
    JAFFA_path  = ''
    genomeFasta = ''
    transFasta  = ''
    transTable  = '' 
    fastq       = ''
    fastqInputFormat = '%_*.fq.gz'
    genome      = 'GRCh37'
    annotation  = '75'
    anno_prefix = "_(EN[^_]*)__"
    threads     = 2
    R_get_final_list = "${JAFFA_path}/make_final_table.R"
    R_compile_results_script = "${JAFFA_path}/compile_results.R"
    get_fusion_seqs= "${JAFFA_path}/scripts/get_fusion_seqs.bash"
    finalGapSize=10000
    gapSize     =1000
    exclude     ="NoSupport,PotentialReadThrough"
    reassign_dist=0
    knownTable  ="${JAFFA_path}/known_fusions.txt"
}

conda {
    enabled = true
}
